Checks: >
  -*,
  clang-analyzer-*,
  bugprone-exception-escape,
  bugprone-infinite-loop,
  bugprone-use-after-move,
  concurrency-*,
  modernize-use-nullptr,
  performance-*,
  portability-simd-intrinsics
WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-exception-escape,
  bugprone-infinite-loop,
  bugprone-use-after-move,
  concurrency-*,
  performance-*,
  portability-simd-intrinsics
HeaderFilterRegex: '(^|/)(include|src)/'
FormatStyle: file
